.result {
    display: block;
    text-align: left;
    font: initial;
    margin: 1rem;
    word-wrap: break-word;
}

h1, h2, h3, h4, h4, h5{
    text-align: center;
}

code, pre {
    background-color: cornsilk;
}